body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}


#dialog-container {
  width: 400px;
  max-width: 400px;
  max-height: 600px; 
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  overflow-y: auto;
}

#dialog-content {
  min-height: 50px;
}

.card {
  display: flex;
  justify-content: center; /* horizontal center */
}

/* Specific button */
#counter {
  font-family: "Comic Sans MS", "Comic Sans", cursive; 
  font-size: 16px;             
  font-weight: normal;                
  color: white;                   
  background-color: #764D39;      
  border: none;     
  border-radius: 15px;                 
  padding: 10px 20px;            
  cursor: pointer;              
  transition: background-color 0.3s; 
}